.gamecard {
    background: #2983AA;
    display: flex;
}

.info {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.category {
    color: #C7C7C7;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
}

.pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.price {
    color: #BEEB14;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}