.session {
    margin: 80px 0;
}

.saleconteiner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.gameconteiner {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}