.session {
    margin: 80px 0;
}

.saleconteiner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}



.gameconteiner {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 850px) {
    .saleconteiner {
        justify-content: center;
    }
}