.button {
    width: 100%;
    padding: 15px 5px;
    border-radius: 10px;
    background: #549300;
    font-weight: 700;
    color: white;
    font-size: 12px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background: #467a01;
}